In [3]:
# Q:1>Explain with an example each when to use a for loop and a while loop.
'''we use for loop and while loop for performing iterarions 
, or to display more no of outcomes 
, best example for for loop is to display the data of many persons, example school data , name rollno grades , 
this is possible through loops such as for and while loop in backend '''

'we use for loop and while loop for performing iterarions \n, or to display more no of outcomes \n, best example for for loop is to display the data of many persons, example school data , name rollno grades , \nthis is possible through loops such as for and while loop in backend '

In [5]:
# Q:2>Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

#using for loop
sum =0
product =1
for i in range(1,11):
    sum=sum+i
    product=product*i
print(f"sum of the first 10 Natural Numbers is {sum}")
print(f"product of the first 10 Natural Numbers is {product}")

sum of the first 10 Natural Numbers is 55
product of the first 10 Natural Numbers is 3628800

In [6]:
#using while loop
i=1
while i>=10:
    sum+=i
    product*=i
print(f"sum of the first 10 Natural Numbers is {sum}")
print(f"product of the first 10 Natural Numbers is {product}")

sum of the first 10 Natural Numbers is 55
product of the first 10 Natural Numbers is 3628800

In [15]:
# '''Q3. Create a python program to compute the electricity bill for a household.

# The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
# unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
# be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.'''

In [13]:
units=float(input("Enter your charge of household bill"))
if units<=100:
    charge=4.5*units
elif units<=200:
    charge=(100*4.5)+(units-100)*6
elif units<=300:
    charge=(4.5*100)+(100*6)+ (units-200)*10
else:
          charge=(4.5*100)+(100*6)+(100*10)+(units-300)*20
print(f"Total Household bill is Rs :- {charge}")

Enter your charge of household bill 310

Total Household bill is Rs :- 2250.0

In [14]:
# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
# number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
# that list.

In [24]:
l1=[]
for i in range(1,101):
    l1.append(i)
print(l1)
# Created this list from 0 to 100 numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [23]:
l2=[]
for i in l1:
    cube=i**3
    if cube%4==0 or cube%5==0:
        l2.append(i)
print(l2)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [ ]:
# Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"

In [36]:
string = "I want to become a data scientist"
c=0
s1=[]
for i in string:
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u" or i=="A" or i=="E" or i=="O" or i =="U" or i=="I":
        c=c+1
        continue
    s1.append(i)
print(c)
for i in s1:
    if i==" ":
        continue
    else:

[' ', 'w', 'n', 't', ' ', 't', ' ', 'b', 'c', 'm', ' ', ' ', 'd', 't', ' ', 's', 'c', 'n', 't', 's', 't']
12