Q1. What are the three measures of central tendency?

The three mesaures of central tedency are :-
1:-mean or average
2:-mode
3:-median
These are used in EDA and feature engineering
mean and median is used in numerical columns for example there are some  missing values in it , instead of removing the whole column we can replace the empty dataset with the mean and the median and we know that where median is used and where mean is used. 
mode is used in categorical columns for replacing the missing values. ewith the number of highest frequency occured terms.

Q2. What is the difference between the mean, median, and mode? How are they used to measure the
central tendency of a dataset?

The difference between mean median mode is that mean is used for caluculating the average or the mean value of data when there are no outliesrs prsent in the data set  , where as mode is used for finding the value which is been occured  most of the time.median is also used for caluculating the average value but this will first sort the data and then caluclate the data , and median is preffered more when ther is outliesrs prsent in the data set.

mean:- when no outliers is present then it is good to find
median:- when outliers is present in the data set then it this will be good to find because in meadian there will be no drastic changes in the value . But if we wil find with mean then we will observe that there is a drastic change in the value.

Q3. Measure the three measures of central tendency for the given height data:
[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [1]:
l=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]
s=0
for i in l:
    s=s+i
print("mean = ",(s/len(l)))

mean =  177.01875

In [14]:
#for mode first we will sort the list and then count it that how much number of elements are there if it is even then then two central elements by calculating there mean and if count is odd then durectly that central element
l.sort()
l
n=len(l)/2
median=(n+n+1)/2
median

8.5

In [15]:
import pandas as pd

In [16]:
df=pd.DataFrame(data={"height":l
})

In [17]:
df

    height
0    172.5
1    175.0
2    175.0
3    176.0
4    176.2
5    176.5
6    177.0
7    177.0
8    177.0
9    178.0
10   178.0
11   178.0
12   178.2
13   178.9
14   179.0
15   180.0

In [19]:
df.mean()

height    177.01875
dtype: float64

In [20]:
df.mode()

   height
0   177.0
1   178.0

In [21]:
df.median()

height    177.0
dtype: float64